<h1><%= @registered_app.name %></h1>
  <div class="row">
    <div class="col-md-8">
      <p>URL: <%= link_to @registered_app.url, "#{@registered_app.url}" %></p>
      <% @events.each do |event| %>
        <p><%= event.name %></p>
      <% end %>
      <p>There are <%= @events.count %> events for this app.</p>
      <p>Added by <%= @registered_app.user.email %></p>
    </div>
    <div class="col-md-4">
      <%= link_to "Edit", edit_registered_app_path, class: 'btn btn-success' %>
      <%= link_to "Delete", edit_registered_app_path, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this app?'} %>
    </div>
  </div>
